@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Codystar:wght@300;400&display=swap');

.codystar-regular {
    font-family: "Codystar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ----------different across vw---------- */

@media (min-width: 100Px) and (max-width: 480px) {
    body {
        font-size: 4vw;
    }

    .card {
        font-size: 13vw;
    }

    .cardBack {
        font-size: 13vw;
    }

    .button {
        font-size: 5vw;
    }
}

@media (min-width: 481Px) and (max-width: 768px) {
    body {
        font-size: 3vw;
    }

    .card {
        font-size: 13vw;
    }

    .cardBack {
        font-size: 13vw;
    }

    .button {
        font-size: 4vw;
    }
}

@media (min-width: 769Px) and (max-width: 1279px) {
    body {
        font-size: 3vw;
    }

    .card {
        font-size: 12vw;
    }

    .cardBack {
        font-size: 12vw;
    }

    .button {
        font-size: 3vw;
    }
}

@media (min-width: 1280Px) {
    body{
        font-size: 1.5vw;
    }

    .card {
        font-size: 5vw;
    }

    .cardBack {
        font-size: 5vw;
    }

    .button {
        font-size: 1.5vw;
    }
}

/* ----------same across vw---------- */
body {
    background-color: #DB00A1;
    font-family: "Codystar", Geneva, system-ui;
    text-wrap: balance;
    color: white;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent; /*removed the whole screen flash when touched*/
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-tap-highlight-color */
}

.container {
    display: flex;
    align-items: center;
    text-wrap: balance;
    gap: 1em;
    justify-content: space-between;
}

.board {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 1em;
    gap: .5em;
    user-select: none;
}

.card {
    aspect-ratio: 1/1;
    border: .1vw solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.start-board {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.hidden {
    background-color: white;
}

.hidden:hover {
    box-shadow:
        0em .25em .25em 0 rgba(0, 0, 0, 0.24),
        0em .25em .25em 0 rgba(0, 0, 0, 0.19);
}

.cardBack {
    aspect-ratio: 1/1;
    border: .1vw solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.button {
    color: white;
    background-color: none;
    border-radius: 12px;
    background-color: #DB00A1;
    border-color: white;
    margin: 0em;
}

.button:hover {
    box-shadow: .25em .25em .25em .25em rgba(0, 0, 0, 0.24);
}

.button:active {
    box-shadow:
        0 .1em gray,
        .25em .25em .25em .25em rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}